# workspace settings
/.vscode

# Unnecessary misc files/folders
log/
tmp/
.idea/
.byebug_history
coverage
*.env
.idea/

# Localfiles
local.txt
robot/results/
utility/UtilitiesLibrary.pyc
tool/
log.html
output.xml
report.html

# For Mac users
.DS_Store

# Ignore application configuration
/config/application.yml

# Image files
public/uploads
